<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("login", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("login") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("password") %>
   </div>
</div>
